
<%# <h2>Countdown History</h2> %>
<%# <% Countdown.all.each do |c| %>
    <ol>
        <%# <h3><li><%= c.created_at %><h3>

       <%# @.ex_cals.all.each do |cec|
            cec.calories_burned %>

         <%# <%= countdown_ex_cals %></li></h3>
    </ol>
<%# <% end %>

<%# <%= @ex_cals.collect {|ec| ec.calories_burned}.sum %> %>

