<h2>Exercise Calorie Countdown</h2>

Total calories spent



Total calories left to goal



Percentage achieved


<h3><%= link_to "New Daily Entry for Today", "countdowns/new" %></h3>

<%# <h3><%= link_to "Record History and Totals", "countdowns/index" %>

